* {
    box-sizing: border-box;
}

.page {
    padding: 0;
    margin: 0 auto;
}

.page-main {
    display: grid;
    grid-template-columns: 808px;
    justify-content: center;
}

.page-body {
    font-family: "Roboto", Arial, sans-serif;
}

.page-header {
    display: grid;
    grid-template-columns: 1fr 155px 641px 155px 1fr;
    grid-template-rows: 50px;
    background-color: #F5F5F6;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    color: #959BA4;
    letter-spacing: 6%;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    padding: 0;
    margin: 0 auto;
}

.page-header__logo {
    display: grid;
    grid-column: 2/3;
    width: 74px;
    height: 25px;
    padding-top: 10px;
}

.page-header__navigation {
    display: grid;
    grid-column: 3/4;
}

.page-header__navigation-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 5px;
}

.page-header__navigation-link {
    text-decoration: none;
    color: #959BA4;
}

.page-header__navigation-link--active {
    color: #000000;
}

.page-header__login {
    display: grid;
    grid-column: 4/5;
}

.page-header__login-button {
    width: 58px;
    height: 33px;
    background: #FFFFFF;
    border: solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    margin-left: 100px;
    margin-top: 7px;
}

.page-main__title {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: start;
    color: #000000;
    padding-top: 78px;
    padding-bottom: 46px;
    margin: 0;
}

.page-main__section {
    display: grid;
    grid-template-columns: 325px 152px 325px;
    grid-template-rows: auto auto;
}

.converter {
    display: grid;
    grid-column: 1/2;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-align: start;
    color: #9F9F9F;
    padding: 0;
    margin: 0;
}

.converter__text {
    font-size: 15px;
    line-height: 14px;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
}

.converter__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
}

.converter__input-block {
    position: relative;
    margin-top: 23px;
}

.converter__input-block::before {
    content: "";
    position: absolute;
    width: 324px;
    height: 128px;
    left: 0;
    top: 0;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    z-index: -10;
}

.converter__current-rate {
    font-size: 14px;
    padding-left: 22px;
}

.converter__input {
    width: 286px;
    font-size: 46px;
    font-weight: 700;
    line-height: 42px;
    text-align: start;
    color: #000000;
    border: none;
    margin-top: 14px;
    margin-bottom: 28px;
    margin-left: 17px;
    padding: 0;
}

.converter__input::placeholder {
    color: #000000;
}

.arrows {
    display: grid;
    grid-column: 2/3;
    position: relative;
    border: none;
    background-color: transparent;
}

.arrows::before {
    content: "";
    position: absolute;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    top: 130px;
    left: 60px;
    width: 39px;
    height: 16px;
}

.arrows::after {
    content: "";
    position: absolute;
    background-image: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
    top: 153px;
    left: 53px;
    width: 55px;
    height: 20px;
}

.converter--right {
    display: grid;
    grid-column: 3/4;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-align: start;
    color: #9F9F9F;
    padding: 0;
    margin: 0;
}

.converter__list-button {
    font-size: 13px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-family: inherit;
    color: #9F9F9F;
    padding: 11px 19px;
    ;
    border-right: 1px solid #E5E5E5;
}

.converter__list-button--active {
    background-color: #833AE0;
    color: #E5E5E5;
}

.converter__list-select {
    font-size: 13px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 12px;
    color: #9F9F9F;
    padding: 10px 8px;
}

.converter__list-select--active {
    background-color: #833AE0;
    color: #E5E5E5;
}
